@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Almoni DL Bold';
    src: url('/fonts/almoni-dl-aaa-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
@font-face {
    font-family: 'Secular One';
    src: url('/fonts/SecularOne-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
h1 {
    font-family: 'Almoni DL Bold', sans-serif;
}
h2 {
    font-family: 'Courier New', Courier, monospace;
}
h3 {
    font-family: 'Secular One', sans-serif;
}
body {
    font-family: 'Raleway', sans-serif;
  }